## lecture 13_15 
- extracts from lecture 13-15
- 16 will be converted in next course 
- good tohave some extra tools in your toolkit 
- connecting duckdb to python

In [ ]:
with open("sql/ingestion.sql", 'r') as sql_script:
    sql_code = sql_script.read()

sql_code

### with statment to connec5 to duckdb 
- with handles connection an d close it down properly 
- if this database doesn't exist -> it creates ir for us

In [ ]:
import duckdb 

with duckdb.connect("data/lecture_13_15.duckdb") as conn: 
    conn.execute(sql_code)
    describe = conn.execute("desc;").df()

describe

In [4]:
#  this doesn't work as the connectione is colesed.
# duckdb.sql("from staging.student:")

In [ ]:
import pandas as pd
import duckdb

def query_database (querry: str, db_path: str = "data/lecture_13_15.duckdb") -> pd.DataFrame:
    
    """convenience function to opemn a duckdb database connection and query it """
    with duckdb.connect(db_path) as conn: 
        return conn.execute(querry=querry).df()
    
query_database("From staging.student)")

In [ ]:
from utils import query_database

query_database("From staging.student)").head()

# Subquery 
- a query inside of another query 
- gets a temporary result ser , which ca be used

In [ ]:
query_databas(
    SELECT 
        *
    from  
      
        staging.students
    WHERE grade_math> (
        select 
            avg(grade_math)
        from 
            staging.students

    );
)

In [ ]:
query_databas(
    SELECT 
        *
    from  
      
        staging.students;
    


)

### solve withput subquery

In [ ]:
query_databas(
    SELECT 
        *
    from  
        staging.students
    WHERE  grade_math > 84.2
)

# lecture 14 - views

- a saved SQL query as a virtual table
- the query is executed everytime it is accessed
- no data are stored



# Purposes of Views

- restrict accesses to underlying tables
- simplify complex queries (for examples, involving joins of many tables) for users
- customerize data for different users
- maintain stable interface between underlying tables and downstream consumers (for example, when column names change in the underlying tables)

In [ ]:
query_database("""--sql
    FROM staging.housing_sales;
""").head()

#### pick out avarage of property types and put into a view to give to downstream users 

- if storing this as a table and tne underlyng data changes e.g more house are added then the "average salse table " is wrong 

- with a view - it will run the sql query when the downstream user is querying the view - which will give fresh results all the time

In [ ]:
query_database("""--sql
CREATE OR REPLACE VIEW staging.average_price_type AS
SELECT 
    property_type,
    AVG(sale_price_usd)::INT AS avg_price
FROM staging.housing_sales
GROUP BY property_type
""")

In [ ]:
query_database("frome staging.average_price_type;")

## command table expressione (CTE)
- use WITH  statement 
- simplify complex queries and making them more readble 
- temporary result set that you can use further - "variable"